@font-face {
    font-family: "Glacialindifference bold";
    src: url(../fonts/GlacialIndifference-Bold.ttf);
}
@font-face {
    font-family: "Glacialindifference regular";
    src: url(../fonts/GlacialIndifference-Regular.ttf);
}
@font-face {
    font-family: "jaapokki regular";
    src: url(../fonts/Jaapokki-Regular.ttf);
}
@font-face {
    font-family: "Montserrar bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Montserrar regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Muli light";
    src: url(../fonts/Muli-Light.ttf);
}
@font-face {
    font-family: "Muli regular";
    src: url(../fonts/Muli-Regular.ttf);
}
@font-face {
    font-family: "Muli";
    src: url(../fonts/Muli.ttf);
}
@font-face {
    font-family: "Poppins Exrta Bold";
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: "Poppins semi Bold";
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Roboto light";
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
