
@keyframes lineWidht {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@keyframes lineWidht2 {
	0% {
		width: 0;
	}
	100% {
		width: 80%;
	}
}

@keyframes lineWidht4 {
	0% {
		width: 0;
	}
	100% {
		width: 50%;
	}
}
@keyframes infoIntro {
	0% {
		margin-top: 0;
		opacity: 0;
	}
	100% {
		opacity: 1;
		margin-top: 200px;
	}
}
@keyframes infoIntro2 {
	0% {
		margin-top: 0;
		opacity: 0;
	}
	100% {
		opacity: 1;
		margin-top: 100px;
	}
}
@keyframes infoIntro4 {
	0% {
		margin-top: 0;
		opacity: 0;
	}
	100% {
		opacity: 1;
		margin-top: 28px;
	}
}
@keyframes infoIntro3{
	0% {
		margin-top: 0;
		opacity: 0;
	}
	100% {
		opacity: 1;
		margin-top: 50px;
	}
}
@keyframes BgIntro {
	0% {
		opacity: 0;
		margin-top: -200px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}
@keyframes BgIntro10 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes bestService {
	0% {
		gap: 100px;
	}
	100% {
		gap: 10px;
	}
}
@keyframes BgIntro1 {
	0% {
		opacity: 0;
		
	}
	100% {
		opacity: 1;
		
	}
}
@keyframes headerIntro1 {
	0% {
		opacity: 0;
		
	}
	100% {
		opacity: 1;
		
	}
}
@keyframes headerIntro2 {
	0% {
		opacity: 0;
		margin-left: -200px;
	}
	100% {
		opacity: 1;
		margin-left: 0px;
	}
}
@keyframes infoWrap {
	0% {
		opacity: 0;
		margin-left: -200px;
	}
	50%{
		opacity: 1;
	}
	100% {
		margin-left: 0px;
	}
}

@keyframes bottomInfo2 {
	0% {
		opacity: 0;
		margin-left: 200px;
	}
	100% {
		opacity: 1;
		margin-left: 0px;
	}
}
@keyframes satsIntro {
	0% {
		opacity: 0;
		margin-top: 900px;
	}
	100% {
		opacity: 1;
		margin-top:  650px;
	}
}
@keyframes InfoBottom {
	0% {
		opacity: 0;
		margin-top: 300px;
	}
	100% {
		opacity: 1;
		margin-top: 100px;
	}
}

/* recom */
@keyframes recomBtns {
	0% {
		background-color: transparent;
		transform: scale(1.00);
	}
	100% {
		background-color: #E93656;;
	}
}
@keyframes actionN1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* last projects */
@keyframes lastProjects  {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


@keyframes lastProjects1  {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@keyframes BgIntro6 {
	0% {
		opacity: 0;
		
		
	}
	100% {
		opacity: 1;
		
	}
}
/* last project */


@keyframes LastPro2 {
	0% {
		margin-left: -100px;
		opacity: 0;
	}
	100% {
		margin-left: 0px;
		opacity: 1;
		
	}
}
@keyframes LastPro3 {
	0% {
		margin-right: -200px;
		opacity: 0;
	}
	100% {
		margin-left: 0;
		opacity: 1;
		
	}
}
@keyframes LastPro3 {
	0% {
		margin-top: 30px;
		opacity: 0;
	}
	100% {
		margin-top: 0;
		opacity: 1;
		
	}
}
/* articles */
@keyframes articles1 {
	0% {
		margin-left: 968px;
		opacity: 0;
	}
	100% {
		margin-left: 150px;
		opacity: 1;
		
	}
}
@keyframes articles4 {
	0% {
		margin-left: 968px;
		opacity: 0;
	}
	100% {
		margin-left: 70px;
		opacity: 1;
		
	}
}

@keyframes articles3 {
	0% {
		margin-left: 968px;
		opacity: 0;
	}
	100% {
		margin-left: 70px;
		opacity: 1;
		
	}
}
@keyframes articles4 {
	0% {
		margin-left: 500px;
		opacity: 0;
	}
	100% {
		margin-left: 0px;
		opacity: 1;
		
	}
}





@keyframes articles5{
	0% {
		margin-left: -568px;
		opacity: 0;
	}
	100% {
		margin-left:0;
		opacity: 1;
		
	}
}
/* rosa */
@keyframes articles7{
	0% {
		transform: scale(1.00);
	}

	100% {
		transform: scale(1.20);
	}
}
@keyframes rosa1{
	0% {
		margin-top: 50px;
		opacity: 0;
	}

	100% {
		margin-top: 0px;
		opacity: 1;
	}
}
@keyframes rosa2{
	0% {
		opacity: 0;
	}
50%{
	opacity: 0.8;
}
	100% {
		opacity:1;
	}
}
@keyframes forms1{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

