/*--------Intro X header---------*/
@media (width <= 1532px){
    /*--------Intro X header---------*/
    .my-name{
        display: flex;
        gap: 0px;
        flex-wrap: wrap;
    }
    .satisfied-2{
        display: block;
        margin-top: 70px;
        gap: 5px;
    }
    .satisfied-line2{
        display: block;
        max-width: 290px;
    }
    .satisfied{
        display: none;
    }
    .satisfied-line{
        max-width: 290px;
    }
     /* article */
     .articles{
        margin-top: 130px;
        gap: 60px;
    }
    .articles-title{
        font-size: 70px;
    }
    .articles-box1.action{
        max-width: 1750px;
        margin-left: 70px;

        animation-name: articles3 ;
    animation-duration: 3s;
    }
    .articles-box2.action{
        margin-right: 120px;
    }
    .articles-para{
        font-size: 15px;
        margin-top: 25px;
    }
    .article-text{
        padding-top: 70px;
        padding-left: 20px;
    }
    .article-text2{
        padding-top: 70px;
        padding-left: 100px;
    }
    
    .article-images{
        max-width: 850px;
    }
    .article-date{
        max-width: 120px;
    }
    .article-box-wallpaper{
    max-width: 800px;
    height: 500px;
    }
    .data-article{
        margin-top: 230px;
        font-size: 22px;
    }
    
    .articles-mini-para{
        font-size: 12px;
        margin-top: 25px;
    }
    .articles-box-title{
        font-size: 35px;
    }
    .articles-para{
    font-size: 15px ;
    }
}
@media (width <= 1200px){
    /*--------Intro X header---------*/

    .intro-wrapper{
        display: flex;
        margin: 0 auto;
        margin-top: 100px;
        gap: 60px;
    }
    .background{
        max-width: 500px;
        width: 100%;
        max-height: 500px;
    }
    
    .header-bg{
        max-width: 500px;
        height: 500px;
    }
    .header-bg.action{
        max-width: 500px;
        min-width: 499px;
        height: 500px;
    }
    .my-info{
        margin-top: 100px;
        max-width: 610px;
        gap: 8px;
        animation-name: infoIntro2;
        
    }
    .socials{
        gap: 10px;
        padding-top: 30px;
        
    }
    .my-name1{
        font-size: 35px;
    }
    .my-name2{
        font-size: 55px;
    }
    .my-work{
        font-size: 22px;
    }
    .satisfied-2{
        display: block;
        margin-top: 40px;
    }
    .satisfied-line2{
        display: block;
        max-width: 290px;
        margin-top: -5px;
    }
    .satisfied{
        display: none;
    }
    .satisfied-line{
        max-width: 290px;
    }
    /* best service */
    .best-service{
        margin-top: 170px;
        margin-bottom: 120px;
    }
    .best-service-wrapper{
        display: grid;
        grid-template-columns: 285px 285px 285px;
        gap: 10px;
        max-width: 875px;
        width: 100%;
        margin: auto;
    }
     /* latest projects */

     .projects-filter-div.action{
        gap: 30px;
        flex-wrap: wrap;
    }
    .projects-btns{
        height: auto;
        width: 100%;
        max-width: 800px;
        align-items: center;
        margin: auto;
        background-color: #15263E;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        padding: 60px;
        flex-wrap:wrap;
    
    }
    .latest-projects-title{
        display: inline-block;
        font-size: 70px;
        margin-left: 0px;
        color: #2E2E2E;
    }
    .latest-projects-title.action{
        display: inline-block;
        font-size: 60px;
        margin-left: 0px;
    
        animation-name:LastPro2  ;
    }
    .article-box-wallpaper{
        max-width: 600px;
        height: 400px;
        }
        .article-date{
            max-width: 120px;
            height: 400px;
        }
        .article-images{
            height: 400px;
            max-width: 850px;
        }
        .article-text2{
            padding-top: 10px;
         
            padding-left:60px;
        }
        .article-text{
            padding-top: 10px;
            padding-left:60px;
        }
        .data-article{
            margin-top: 170px;
     }
     /* rosa */
     .rosa-wrapper.action{
        display: grid;
        grid-template-columns: 230px 230px 230px  ;
        justify-content: center;
        gap: 40px;
        max-width: 1170px;
        width: 100%;
        margin: auto;
    }
   
}
@media (width <= 1024px){
     /*--------Intro X header---------*/

     .intro{
        height: 600px;
     }
     .intro-wrapper{
        display: flex;
        margin: 0 auto;
        margin-top: 100px;
        gap: 40px;
    }
    .background{
        max-width: 400px;
        width: 100%;
        max-height: 400px;
    }
    .my-info{
        margin-top: 50px;
        max-width: 610px;
        gap: 8px;
        animation-name: infoIntro3;
        
    }
    .header-bg{
        max-width: 400px;
        height: 400px;
    }
    .header-bg.action{
        max-width: 400px;
        min-width: 399px;
        height: 400px;
    }
    .socials{
        gap: 7px;
        padding-top: 20px;
        
    }
    .my-name1{
        font-size: 30px;
    }
    .my-name2{
        font-size: 50px;
    }
    .my-work{
        font-size: 18px;
    }
    .satisfied-2{
        display: block;
        margin-top: 30px;
    }
    .satisfied-line2{
        display: block;
        max-width: 250px;
        margin-top: -5px;
    }
    .satisfied{
        display: none;
    }
    .satisfied-line{
        max-width: 250px;
    }
      /*Second Section*/
   .info{
    width: 100%;
    margin-top: 35px;
}
.info-wrapper{
    gap: 40px;
}
.info-wrapper.action{
    gap: 40px;

}
.much-info{
    text-align: end;
    margin-top: 40px;
    max-width: 280px;
}
.much-info-name{
    font-size: 35px;
}
.much-info-work{
    font-size: 12px;
}
.mini-info{
    font-size: 12px;
    margin-top: 27px;
}
.much-info-HireMe{
    margin-top: 50px;
    padding: 15px 50px;
}

.info-image{
    max-width: 370px;
}
.info-image-img{
    max-width: 669px;
    min-width: 300px;
}
.info-skils{
    max-width: 280px;
}

.html,.css,.js{
    margin-top: 50px;
    max-width: 245px;
}
.num,.lines-percent{
 font-size: 18px;
}
.html-100-2,.css-100-2,.js-100-2{
    font-size: 18px;
}
.lines-80{
    height: 5px;
    background-color: #E93656;
    margin-top:8px;
    border-radius: 10%;


    width: 0%;
}
.lines-80.actionHtmlCss{
    margin-top:8px;
}

.lines-50{

    margin-top:8px;
}
.lines-50.actionReactJs{
    border-radius: 10%;
}
.html-line-empty,.css-line-empty,.js-line-empty{
    margin-bottom:-17px;
}

/*----------Second Section bottom info------------------*/
.info-bottom{
    margin-top: 100px;
    width: 100%;
    height: 310px;
    background-color: #131a36;
}

.info-bottom-wrapper{
    gap: 30px;
    padding: 50px 0;
    flex-wrap: wrap;
}
.info-bottom-wrapper.action{
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 0;

}
/* best service */
.best-service{
    margin-top: 170px;
    margin-bottom: 120px;
}
.best-service-wrapper{
    display: grid;
    grid-template-columns: 285px 285px ;
    gap: 10px;
    max-width: 580px;
    width: 100%;
    margin: auto;
}
 /* latest projects */

 .projects{
    display: grid;
    grid-template-columns: 300px 300px ;
    max-width: 600px;
    width: 100%;
    margin: auto;
}
 /* articles */
 .articles-boxs{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .articles-box1.action{
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;

    animation-name: articles4 ;
animation-duration: 3s;
 }
 .articles-box2.action{
    flex-direction: column-reverse;
    margin: 0 auto;
    gap: 10px;


    animation-name: articles5 ;
animation-duration: 3s;
 }
 .article-images {
    justify-content: center;
    margin: auto;
 }
 .article-text {
    max-width: 720px;
   margin: auto;
    padding-top: 20px;
    padding: 0;
    text-align: center;
 }
 .article-text2 {
    max-width: 720px;
   margin: auto;
    padding-top: 20px;
    padding: 0;
    text-align: center;
 }
 .data-article{
        margin-top: 190px;
       font-size: 23px;
 }
 .article-date{
    max-width: 132px;
    width: 100%;
    min-width: 100px;
}
 .articles-boxs {
    gap: 20px;
 }
 .articles-para {
    max-width: none;
 }
.rosa{
    overflow: hidden;
}
}
@media (width <= 768px){
    /*--------Intro X header---------*/
    .header{
        display: none;
    }
    .intro{
        height: 800px;
        display: flex;
        flex-wrap: wrap;
    }
    .intro-wrapper{
       display: flex;
       margin: 0 auto;
       margin-top: 0px;
       gap: 0px;
       flex-wrap: wrap;
   }
   
   .background{
    margin: auto;
       max-width: 480px;
       width: 100%;
       max-height: 480px;
       animation-name: BgIntro1;
       
   }
   .my-info{
       margin: auto;
       margin-top: 30px;
       max-width: 610px;
       gap: 8px;
       animation-name: infoIntro4; 
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
   }
   
   .header-bg{
       max-width: 480px;
       height: 480px;
   }
   .header-bg.action{
       max-width: 480px;
       min-width: 479px;
       height: 480px;
   }
   .socials{
       gap: 5px;
       padding-top: 10px;
       
   }
   .my-name1{
       font-size: 25px;
   }
   .my-name2{
       font-size: 45px;
   }
   .my-work{
       font-size: 15px;
   }
   .satisfied-2{
       display: block;
       margin-top: 20px;
   }
   .satisfied-line2{
       display: block;
       max-width: 220px;
       margin-top: -5px;
   }
   .satisfied{
       display: none;
   }
   .satisfied-line{
       max-width: 220px;
   }
   /*Second Section*/
.info-wrapper{
    gap: 40px;
    flex-wrap: wrap;
}
.much-info{
    text-align: start;
}
.info-skils{
    max-width: 350px;
    width: 100%;
}
.info-skils{
    max-width: 300px;
}

.html,.css,.js{
    margin-top: 50px;
    max-width: 270px;
}
  /*----------Second Section bottom info------------------*/
  .info-bottom{
    margin-top: 100px;
    width: 100%;
    height: 340px;
    background-color: #131a36;
}

.info-bottom-wrapper{
    gap: 20px;
    padding: 40px 0;
    flex-wrap: wrap;
}
.info-bottom-wrapper.action{
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px 0;

    animation-name:headerIntro1 ;
    animation-duration: 4s;
}
.phone-info,.addres-info,.Email-info{
    gap: 25px;
    max-width: 250px;
    width: 100%;
}
.phone-info,.addres-info,.Email-info{
    gap: 30px;
}
.phone-info.action{
    gap: 30px;
}
.phone-svg,.map-addres-vsg,.email-svg{
    width: 26px;
    height: 25px;
}
.info-svg-wrapper{
    padding: 20px;
}
.info-svg-wrapper:hover{
    border: 3px solid #E93656;
    background-color: #E93656;
    transform: scale(1.05);
}
.number-info,.user-adres-info,.email-address-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info-ttile{
    font-family:"Muli" ;
    font-size: 20px;
    color: #ffffff;
}
.info-para{
    font-family:"Muli" ;
    font-size: 11px;
    color: #DFDFDF;
}
/* best service */
.best-service{
    overflow: hidden;
    margin-top: 70px;
    margin-bottom: 100px;
}
.best-service-wrapper{
    grid-template-columns: 185px 185px  ;
    gap: 5px;
    max-width: 390px;
}
.box{
    height: 260px;
    width: 185px;
}

.box.action{
    height: 260px;
    width: 185px;
}
.boc-para{
    font-size: 12px;
}
.box-title{
    font-family: "Glacialindifference bold";
    font-size: 20px;
}
.recom-wrapper-inner.action {
    padding-top: 100px;
}
   /* recom */
   .recom-change{
    display: flex;
    gap: 35px;
    align-items: center;
    flex-wrap: wrap;

    display: none;
}
.recom-change.action{
    display: block;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
justify-content: center;
text-align: center;
flex-direction: column-reverse;

    animation-name:actionN1  ;
    animation-duration: 3s;
}
.recom-wrapper-inner{
    gap: 30px;
}

.recom-text{
    font-size: 13px;
    max-width: 400px;
    text-align: start;
}

.recom-img{
    padding: 13px;
}


.recom-title{
    font-size: 25px;
    margin-top: 7px;
}
.btns{
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recom-btns{
    border: 2px solid #E93656;
    padding: 8px;
}
.recom-btns.action{
    border: 2px solid #E93656;
    padding: 8px;
    

background-color: #E93656;
    animation-name:recomBtns  ;
    animation-duration: 0.3s;
}
 /*latest projects  */
 .latest-projects{
    overflow: hidden;
 }
 .projects{
    display: grid;
    grid-template-columns: 250px 250px ;
    max-width: 500px;
    width: 100%;
    margin: auto;
}
.latest-projects-title.action{
    display: inline-block;
    font-size: 50px;
    margin-left: 0px;
    color: #2E2E2E;
}

.latest-projects{
    max-width: 1171px;

    margin: 100px auto;
    gap: 30px;
}
#work-ideas{
   max-width: 250px;
   height: 300px;
   width: 100%;
}
#mockup{
    max-width: 250px;
    height: 300px;
    width: 100%;
}
#psd{
    max-width: 250px;
    height: 300px;
    width: 100%;
}
#logo-pro{
    max-width: 250px;
    height: 300px;
    width: 100%;
}
#Presentatione{
    max-width: 250px;
    height: 300px;
    width: 100%;
}
#Icon{
    max-width: 250px;
    height: 300px;
    width: 100%;
}
.articles{
        margin-top: 100px;
        gap: 30px;
    }
    .articles-title{
        font-size: 60px;
    }
    .articles-para{
        font-size: 12px;
        margin-top: 20px;
    }
    .article-images{
        display: flex;
        flex-direction: column;
        
    }
    .article-date{
        max-width: 850px;
        width: 100%;
        background-color: #15263E;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .data-article{
        transform: none;
        display: inline-block;
        margin-top: 0;
        font-size: 27px;
        color: #E93656;
    }
    .article-box-wallpaper{
        max-width: 850px;
        height: 500px;
        }
         /* articles */
    .articles{
        margin-top: 100px;
        gap: 30px;
    }
    .articles-title{
        font-size: 50px;
    }
    .articles-para{
        font-size: 12px;
        margin-top: 20px;
    }
    .article-images{
        display: flex;
        flex-direction: column;
        
    }
    .article-date{
        max-width: 850px;
        width: 100%;
        background-color: #15263E;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .data-article{
        transform: none;
        display: inline-block;
        margin-top: 0;
        font-size: 27px;
        color: #E93656;
    }
    .article-box-wallpaper{
        max-width: 850px;
        height: 500px;
        }
        /* rosa */
        .rosa{
            margin-top: 70px;
        }
        .rosa-wrapper.action{
            overflow: hidden;
            display: grid;
            grid-template-columns: 230px 230px  ;
            justify-content: center;
            gap: 20px;
        }
        .rosa-para{
            font-size: 12px;
            color: #626262;
        }
        .rosa-name{
            font-size: 13px;
            color: #161616;
        }

        .form-boxs {
            margin-top: 0px;
        }
        .contact-wrapper {
            padding-top: 20px;
        }
        .upper-form{
            display: flex;
            gap: 3px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .form-row-message {
            display: flex;
            justify-content: center;
        }
        .message-type{
            max-width: 90%;
        }
        #email-message{
            margin-bottom: 10px;
        }
        .modal{
            margin-top: 15px;
            border-radius: 10px;
            font-size: 12px;
            padding: 15px 25px;
        }
        
        .modal.active{
            margin-top: 15px;
            border-radius: 10px;
            font-size: 12px;
            padding: 15px 25px;
        }
        .contact-wrapper.action {
            padding-top: 20px;
        }
        .form-row-message{
            flex-wrap: wrap;
            gap: 10px;
        }

}

@media (width <= 500px){
    /*--------Intro X header---------*/
    .latest-projects{
        overflow: hidden;
    }
    .info{
        overflow: hidden;
    }
    .header-bg{
        max-width: 280px;
        height: 280px;
    }
    .header-bg.action{
        max-width: 280px;
        min-width: 279px;
        height: 280px;
    }
    .background{
        margin: auto;
           max-width: 280px;
           width: 100%;
           max-height: 280px;
           animation-name: BgIntro1;
           
       }


       .latest-projects{
        overflow: hidden;
     }
     .projects{
        display: grid;
        grid-template-columns: 150px 150px 150px ;
        max-width: 450px;
        width: 100%;
        margin: auto;
    }
    .latest-projects-title{
        font-size: 50px;
      
    }
    
    .latest-projects{
        max-width: 1171px;
    
        margin: 100px auto;
        gap: 30px;
    }
    #work-ideas{
       max-width: 150px;
       height: 200px;
       width: 100%;
    }
    #mockup{
        max-width: 150px;
        height: 200px;
        width: 100%;
    }
    #psd{
        max-width: 150px;
        height: 200px;
        width: 100%;
    }
    #logo-pro{
        max-width: 150px;
        height: 200px;
        width: 100%;
    }
    #Presentatione{
        max-width: 150px;
        height: 200px;
        width: 100%;
    }
    #Icon{
        max-width: 150px;
        height: 200px;
        width: 100%;
    }
       /* articles */
      .article-box-wallpaper{
        max-width: 400px;
        height: 300px;
        }
        .article-images{
            max-width: 400px;
        }
        /* rosa */
        .rosa{
            overflow: hidden;
        }
        .rosa-wrapper.action{
            display: grid;
            grid-template-columns: 130px 130px  ;
            justify-content: center;
        }
        
        .rosa-title{
            display: inline-block;
            margin: auto;
            font-size: 56px;
            color: #262526;
        }
    
    }