*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------header---------------*/
.header{
    width: 100%;
    background-color: #DDDDDD;
    
}
.header-intro{
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px ;
    display: flex;
   justify-content: space-between;
}
.Roca-logo{
    text-align: start;
    animation-name: headerIntro2 ;
	animation-duration: 2s;
    font-family: 'Poppins', sans-serif;

}
.header-logo{
    font-size: 40px;
    color: #1A1A1A;
}
.header-logo-desc{
    font-size: 13px;
    color: #B3B3B3;
}
.about-me{
   text-align: center;
   margin-top: -20px;
   animation-name: headerIntro1 ;
   animation-duration: 4s;
}
.header-01{
    color: #1C1C1C;
    font-size: 150px;
    font-family: 'Poppins', sans-serif;
}
.header-about-me{
    color: #373737;
    margin-top: -155px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;

}
.intro{
    background-color: #DDDDDD;
}
/*-----------intro---------------*/

.intro{
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}
.intro-wrapper{
    display: flex;
    margin: 0 auto;
    gap: 60px;

    
}
.background{

    max-width: 700px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    border-radius: 50%;
    transition: all.5s;
    animation-name: BgIntro;
	animation-duration: 2s;
}
.background:hover{
    transform: scale(1.05);
    box-shadow: 20px 20px 60px #8d6767;
}
.header-bg{
    max-width: 700px;
    height: 700px;
    display: none;
    opacity: 0;
    width: 0%;
    border-radius: 50%;
    box-shadow: 20px 20px 60px #535353;
}
.header-bg.action{
    max-width: 700px;
    min-width: 699px;
    height: 700px;
    display: block;
    opacity: 1;
    width: 100%;
    border-radius: 50%;
    box-shadow: 20px 20px 60px #535353;
    animation-name: headerIntro1 ;
   animation-duration: 2s;
}
.my-info{
    margin-top: 200px;
    opacity: 1;
    max-width: 610px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    animation-name: infoIntro;
	animation-duration: 2s;
}
.my-name1{
    font-family:"GlacialIndifference-Regular" ;
    font-size: 50px;
    color: #212121;
}
.my-name2{
    font-family:"GlacialIndifference-Bold" ;
    font-size: 70px;
    color: #212121;
}
.my-work{
    font-family:"GlacialIndifference-Regular" ;
    letter-spacing: 0.75px;
    font-size: 25px;
    color: #212121;
    
}
.socials{
    display: flex;
    gap: 15px;
    padding-top: 90px;
    align-items: center;
}
.socials>a>img{
    background-color: transparent;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: all.3s;
}
.socials>a>img:hover{
    transform: scale(1.15);
}
.satisfied,.satisfied2{
    margin-top: 650px;
    max-width: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
    animation-name: satsIntro;
	animation-duration: 2s;
    
}
.satisfied-span{
    display: flex;
    gap: 10px;
}
.satisfied-100{
    font-family: 'Poppins', sans-serif;
 color: #E93656;
 font-size: 24px;
}
.satisfied-100-2{
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-size: 24px;
}
.satisfied-line,.satisfied-line2{
    height: 5px;
    background-color: #E93656;
    margin-top:20px;
    max-width: 340px;
    border-radius: 10%;
    animation-name: lineWidht;
	animation-duration: 3s;
    
}
.satisfied-2,.satisfied-line2{
    display: none;
}
/*-----------info-------------*/
.info{
    width: 100%;
    margin-top: 135px;
}
.info-wrapper{
    display: flex;
    gap: 60px;
    justify-content: center;
}
.info-wrapper.action{
    display: flex;
    gap: 60px;
    justify-content: center;


    animation-name: headerIntro2;
	animation-duration: 3s;
}
.much-info{
    text-align: end;
    margin-top: 80px;
    max-width: 345px;
}



.much-info-name{
    font-family:"GlacialIndifference-Bold" ;
    font-size: 40px;
    color: #222;
}
.much-info-work{
    font-family:"GlacialIndifference-Regular" ;
    font-size: 14px;
    color: #DAAE19;
}
.mini-info{
    font-family:"GlacialIndifference-Regular" ;
    font-size: 15px;
    color: #555555;
    margin-top: 30px;
}
.much-info-HireMe{
    margin-top: 60px;
    padding: 15px 50px;
    background-color: #E93656;
    border: 1px solid #E93656;
    color: #ffffff;
    font-family:"GlacialIndifference-Regular" ;
    transition: all.3s
}
.much-info-HireMe:hover{
    background-color: transparent;
    color: #E93656;
    box-shadow: 20px 20px 60px #535353;
}
.info-image{
    max-width: 430px;
    width: 100%;
}
.info-image-img{
    max-width: 429px;
    width: 100%;
    box-shadow: 20px 20px 60px #535353;
}


.info-skils{
    max-width: 300px;
    width: 100%;
}

.html,.css,.js{
    margin-top: 60px;
    max-width: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.html-div,.css-div,.js-div{
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.num,.lines-percent{
    font-family: 'Poppins', sans-serif;
 color: #E93656;
 font-size: 20px;
}
.html-100-2,.css-100-2,.js-100-2{
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-size: 20px;
}
.lines-80{
    height: 5px;
    background-color: #E93656;
    margin-top:10px;
    border-radius: 10%;


    width: 0%;
}
.lines-80.actionHtmlCss{
    height: 5px;
    background-color: #E93656;
    margin-top:10px;
    border-radius: 10%;


    width: 80%;
    animation-name: lineWidht2 ;
    animation-duration: 4s;
}

.lines-50{
    height: 5px;
    background-color: #E93656;
    margin-top:10px;
    border-radius: 10%;


    width: 0%;
}
.lines-50.actionReactJs{
    height: 5px;
    background-color: #E93656;
    margin-top:10px;
    border-radius: 10%;

    
    width: 50%;
    animation-name: lineWidht4 ;
    animation-duration: 4s;
}


.html-line-empty,.css-line-empty,.js-line-empty{
    height: 5px;
    background-color: #f0f0f0;
    margin-bottom:-15px;
    width: 100%;
    border-radius: 10%;
}
