*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------header---------------*/
.header{
    width: 100%;
    background-color: #DDDDDD;
    
}
.header-intro{
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px ;
    display: flex;
   justify-content: space-between;
}
.Roca-logo{
    text-align: start;
    animation-name: headerIntro2 ;
	animation-duration: 2s;
    font-family: 'Poppins', sans-serif;

}
.header-logo{
    font-size: 40px;
    color: #1A1A1A;
}
.header-logo-desc{
    font-size: 13px;
    color: #B3B3B3;
}
.about-me{
   text-align: center;
   margin-top: -20px;
   animation-name: headerIntro1 ;
   animation-duration: 4s;
}
.header-01{
    color: #1C1C1C;
    font-size: 150px;
    font-family: 'Poppins', sans-serif;
}
.header-about-me{
    color: #373737;
    margin-top: -155px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;

}
.intro{
    background-color: #DDDDDD;
}
/*-----------intro---------------*/

.intro{
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}
.intro-wrapper{
    display: flex;
    margin: 0 auto;
    gap: 60px;

    
}
.background{

    max-width: 700px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    border-radius: 50%;
    transition: all.5s;
    animation-name: BgIntro;
	animation-duration: 2s;
}
.background:hover{
    transform: scale(1.05);
    box-shadow: 20px 20px 60px #8d6767;
}
.header-bg{
    max-width: 700px;
    height: 700px;
    display: none;
    opacity: 0;
    width: 0%;
    border-radius: 50%;
    box-shadow: 20px 20px 60px #535353;
}
.header-bg.action{
    max-width: 700px;
    min-width: 699px;
    height: 700px;
    display: block;
    opacity: 1;
    width: 100%;
    border-radius: 50%;
    box-shadow: 20px 20px 60px #535353;
    animation-name: headerIntro1 ;
   animation-duration: 2s;
}
.my-info{
    margin-top: 200px;
    opacity: 1;
    max-width: 610px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    animation-name: infoIntro;
	animation-duration: 2s;
}
.my-name1{
    font-family:"GlacialIndifference-Regular" ;
    font-size: 50px;
    color: #212121;
}
.my-name2{
    font-family:"GlacialIndifference-Bold" ;
    font-size: 70px;
    color: #212121;
}
.my-work{
    font-family:"GlacialIndifference-Regular" ;
    letter-spacing: 0.75px;
    font-size: 25px;
    color: #212121;
    
}
.socials{
    display: flex;
    gap: 15px;
    padding-top: 90px;
    align-items: center;
}
.socials>a>img{
    background-color: transparent;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: all.3s;
}
.socials>a>img:hover{
    transform: scale(1.15);
}
.satisfied,.satisfied2{
    margin-top: 650px;
    max-width: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
    animation-name: satsIntro;
	animation-duration: 2s;
    
}
.satisfied-span{
    display: flex;
    gap: 10px;
}
.satisfied-100{
    font-family: 'Poppins', sans-serif;
 color: #E93656;
 font-size: 24px;
}
.satisfied-100-2{
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-size: 24px;
}
.satisfied-line,.satisfied-line2{
    height: 5px;
    background-color: #E93656;
    margin-top:20px;
    max-width: 340px;
    border-radius: 10%;
    animation-name: lineWidht;
	animation-duration: 3s;
    
}
.satisfied-2,.satisfied-line2{
    display: none;
}
/*-----------info-------------*/
.info{
    width: 100%;
    margin-top: 135px;
}
.info-wrapper{
    display: flex;
    gap: 60px;
    justify-content: center;
}
.info-wrapper.action{
    display: flex;
    gap: 60px;
    justify-content: center;


    animation-name: infoWrap ;
	animation-duration: 3s;
}
.much-info{
    text-align: end;
    margin-top: 80px;
    max-width: 345px;
}



.much-info-name{
    font-family:"GlacialIndifference-Bold" ;
    font-size: 40px;
    color: #222;
}
.much-info-work{
    font-family:"GlacialIndifference-Regular" ;
    font-size: 14px;
    color: #DAAE19;
}
.mini-info{
    font-family:"GlacialIndifference-Regular" ;
    font-size: 15px;
    color: #555555;
    margin-top: 30px;
}
.much-info-HireMe{
    margin-top: 60px;
    padding: 15px 50px;
    background-color: #E93656;
    border: 1px solid #E93656;
    color: #ffffff;
    font-family:"GlacialIndifference-Regular" ;
    transition: all.3s
}
.much-info-HireMe:hover{
    background-color: transparent;
    color: #E93656;
    box-shadow: 20px 20px 60px #535353;
}
.info-image{
    max-width: 430px;
    width: 100%;
}
.info-image-img:hover{
    transform: scale(1.05);
    box-shadow: 20px 20px 60px #8d6767;
}
.info-image-img{
    max-width: 429px;
    width: 100%;
    transition: all.5s;
    box-shadow: 20px 20px 60px #535353;
}


.info-skils{
    max-width: 300px;
    width: 100%;
}

.html,.css,.js{
    margin-top: 60px;
    max-width: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.html-div,.css-div,.js-div{
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.num,.lines-percent{
    font-family: 'Poppins', sans-serif;
 color: #E93656;
 font-size: 20px;
}
.html-100-2,.css-100-2,.js-100-2{
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-size: 20px;
}
.lines-80{
    height: 5px;
    background-color: #E93656;
    margin-top:10px;
    border-radius: 10%;


    width: 0%;
}
.lines-80.actionHtmlCss{
    height: 5px;
    background-color: #E93656;
    margin-top:10px;
    border-radius: 10%;


    width: 80%;
    animation-name: lineWidht2 ;
    animation-duration: 4s;
}

.lines-50{
    height: 5px;
    background-color: #E93656;
    margin-top:10px;
    border-radius: 10%;


    width: 0%;
}
.lines-50.actionReactJs{
    height: 5px;
    background-color: #E93656;
    margin-top:10px;
    border-radius: 10%;

    
    width: 50%;
    animation-name: lineWidht4 ;
    animation-duration: 4s;
}


.html-line-empty,.css-line-empty,.js-line-empty{
    height: 5px;
    background-color: #f0f0f0;
    margin-bottom:-15px;
    width: 100%;
    border-radius: 10%;
}
/*----------Second Section bottom info------------------*/
.info-bottom{
    margin-top: 100px;
    width: 100%;
    height: 210px;
    background-color: #131a36;
}

.info-bottom-wrapper{
    display: flex;
    margin:auto;
    gap: 40px;
    justify-content: center;
    padding: 60px 0;
}
.info-bottom-wrapper.action{
    display: flex;
    margin:auto;
    gap: 40px;
    justify-content: center;
    padding: 60px 0;


    animation-name:  bottomInfo2 ;
    animation-duration: 4s;
}

.phone-info,.addres-info,.Email-info{
    display: flex;
    align-items: center;
    gap: 40px;
}
.phone-info.action{
    display: flex;
    align-items: center;
    gap: 40px;
}
.phone-svg,.map-addres-vsg,.email-svg{
    width: 30px;
    color: white;
    height: 30px;
}
.info-svg-wrapper{
    padding: 28px 30px;
    border: 3px dotted white;
    border-radius: 50%;
    transition: all.3s;
}
.info-svg-wrapper:hover{
    border: 3px solid #E93656;
    background-color: #E93656;
    transform: scale(1.05);
}
.number-info,.user-adres-info,.email-address-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info-ttile{
    font-family:"Muli" ;
    font-size: 25px;
    color: #ffffff;
}
.info-para{
    font-family:"Muli" ;
    font-size: 14px;
    color: #DFDFDF;
}
/*------best Service----------*/
.best-service{
    margin: auto;
    margin-top: 200px;
    margin-bottom: 150px;
}
.best-service-wrapper{
    display: grid;
    grid-template-columns: 285px 285px  285px 285px;
    gap: 10px;
    max-width: 1180px;
    width: 100%;
    margin: auto;
}
.box{
    height: 360px;
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #FAFAFA;
    border: 1px solid #aaaaaa;
    transition: all.5s;

}

.box.action{
    height: 360px;
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #FAFAFA;
    border: 1px solid #aaaaaa;
    transition: all.5s;
    animation-name:BgIntro10  ;
    animation-duration: 4s;

    animation-name:BgIntro10  ;
    animation-duration: 4s;

}


.boc-para{
    display: none;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    color: #ECECEC;
    cursor: default;
    transition: all.5s;
    
}

.box:hover{
    background-color: #131a36;
    transform: scale(1.00);
    box-shadow: 20px 20px 60px #535353;
}
.box:hover .box-svg{
    display: none;
}
.box-svg{
    transition: all.5s;
}
.box:hover .boc-para{
    display: block;
}
.box:hover .box-title{
    color: #ffffff;
}
.box-title{
    font-size: 22px;
    color: #222;
    cursor: default;
    transition: all.5s;
}
/*-------------------- recommmm-------------- */
.recom{
    background-image: url(/assets/images/clip.jpg);
    width: 100%;
    height: 570px;
}
.recom-wrapper{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.recom-wrapper-inner{
    padding-top: 200px;
    display: flex;
    align-items: center;
    gap: 70px;
}
.recom-wrapper-inner.action{
    padding-top: 200px;
    display: flex;
    align-items: center;
    gap: 70px;

    animation-name:headerIntro1;
    animation-duration: 4s;
}
.recom-change{
    display: flex;
    gap: 50px;
    align-items: center;
}




.recom-change{
    display: flex;
    gap: 50px;
    align-items: center;

    display: none;
}
.recom-change.action{
    display: block;
    display: flex;
    gap: 50px;
    max-width: 1100px;
    width: 100%;
    align-items: center;


    animation-name:actionN1  ;
    animation-duration: 3s;
}

.recom-text{
    font-size: 15px;
    color: #ffffff;
    max-width: 500px;
    width: 100%;
    text-align: end;
}

.recom-img{
    padding: 15px;
    border:3px dotted #ffffff ;
    border-radius: 50%;
    transition: all.4s;
}
.recom-img:hover{
    transform: scale(1.05);
   background-color: #E93656;
}
.recom-job{

font-size: 13px;
color: #E93656;
}
.recom-title{
    font-size: 28px;
    color: #ffffff;
    margin-top: 10px;
}
.btns{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recom-btns{
    border: 2px solid #E93656;
    padding: 8px;
}
.recom-btns.action{
    border: 2px solid #E93656;
    padding: 8px;
    

background-color: #E93656;
    animation-name:recomBtns  ;
    animation-duration: 0.3s;
}
/* Last Projects */
.latest-projects{
    
    max-width: 1171px;
    width: 100%;

    margin: 150px auto;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latest-projects-title{
    display: inline-block;
    font-size: 70px;
    margin-left: 250px;
    color: #2E2E2E;
}
.latest-projects-title.action{
    display: inline-block;
    font-size: 70px;
    margin-left: 250px;

    animation-name:LastPro1  ;
    animation-duration: 3s;
    color: #2E2E2E;
}


.projects-filter-div.action{
    display: flex;
    gap: 30px;
    animation-name:LastPro2  ;
    animation-duration: 3s;
}
.projects-btns{
    height: 400px;
    width: 100%;
    max-width: 240px;
    background-color: #15263E;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px;

}
.projects-btn{
    font-size: 20px;
    text-align: start;
background-color: transparent;
border: transparent;
color: #ffffff;
transition: all.3s;
}
.projects-btn.active{
    font-size: 20px;
    text-align: start;
background-color: transparent;
border: transparent;
color: #ffffff;
transition: all.3s;


animation-name:LastPro3 ;
    animation-duration: 3s;
}

.projects-btn{
    font-size: 20px;
    text-align: start;
background-color: transparent;
border: transparent;
color: #ffffff;
list-style: none;
transition: all.3s;
cursor: pointer;
}

.projects-btn.action{
    color: #E93656;
    list-style: none;
    cursor: pointer;
}

.projects-btn:hover{
    color: #E93656;
}
.projects-btn.action::after{
    content: "";
	width: 100%;
	height: 2px;
    margin-top: 10px;
	background-color: #E93656;
	display: block;
    margin-top: 5px;
    border-radius: 1px;
    
    animation-name:lastProjects1   ;
    animation-duration: 1s;
}


.inner-projects.show{
    animation-name: actionN1   ;
    animation-duration: 1s;
}
.projects{
    display: grid;
    grid-template-columns: 300px 300px  300px ;
    max-width: 900px;
    width: 100%;
    margin: auto;
}
#work-ideas{
    height: 350px;
    background-image: url(/assets/images/img1\ \(1\).jpg);
   background-size: cover;
   background-position: center;
}
#mockup{
    height: 350px;
    background-image: url(/assets/images/img1\ \(2\).jpg);
   background-size: cover;
   background-position: center;
}
#psd{
    height: 350px;
    background-image: url(/assets/images/img1\ \(3\).jpg);
   background-size: cover;
   background-position: center;
}
#logo-pro{
    height: 350px;
    background-image: url(/assets/images/img1\ \(4\).jpg);
   background-size: cover;
   background-position: center;
}
#Presentatione{
    height: 350px;
    background-image: url(/assets/images/img1\ \(5\).jpg);
   background-size: cover;
   background-position: center;
}
#Icon{
    height: 350px;
    background-image: url(/assets/images/img1\ \(6\).jpg);
   background-size: cover;
   background-position: center;
}
.projects-box{
    transition: all.2s;
}
.projects-box.action{
    animation-name:BgIntro6 ;
    animation-duration: 0.7s;
}
.projects-box:hover {
opacity: 0.9;
}
.inner-projects{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    gap: 15px;
}
.projects-box:hover .inner-projects{
    display: flex;
    opacity: 1;

    animation-name:BgIntro1 ;
    animation-duration: 0.7s;
}
.heart-photo{
    padding: 18px 20px ;
    border: 1px solid #E93656;
    border-radius: 50%;
    background-color: transparent;
    transition: all.2s;
}
.heart-photo.action{
    padding: 18px 20px ;
    border: 1px solid #E93656;
    border-radius: 50%;
    background-color: #15263E;
    transition: all.2s;
}
.heart-photo:hover{
    transform: scale(1.10);
}
.project-data{
    font-size: 11px;
    color: #ffffff;
}
.projects-title{
    font-size: 23px;
    color: #ffffff;
}
/*Latest Articles*/

.articles{
    overflow: hidden;
    margin: auto;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}
.articles-title{
    display: inline-block;
    margin: auto;
    font-size: 80px;
    color: #2f2f2f;
}
.articles-box1{
    
    max-width: 1750px;
    width: 100%;
    margin-left: 150px;
    display: flex;


}
.articles-box1{
    max-width: 1750px;
    width: 100%;
    margin-left: 150px;
    display: flex;
}
.articles-box2{
    max-width: 1750px;
    width: 100%;
    margin-right: 150px;
    display: flex;
}
.articles-box1.action{
    max-width: 1750px;
    width: 100%;
    margin-left: 150px;
    display: flex;


    animation-name: articles1 ;
    animation-duration: 3s;
}
.articles-box2.action{
    max-width: 1750px;
    width: 100%;
    margin-right: 150px;
    display: flex;


    animation-name: articles5 ;
    animation-duration: 3s;
}
.articles-para{
    font-size: 16px;
    color: #888;
    margin-top: 30px;


}
.articles-icon{
    border-radius: 50%;
    transition: all.3s;
}
.articles-icon:hover{
    box-shadow: 20px 20px 60px #E93656;

}
.article-text{
    max-width: 800px;
    width: 100%;
    padding-top: 80px;
    padding-left: 10px;
    background-color: #FAFAFA;
}
.article-text2{
    max-width: 800px;
    width: 100%;
    padding-top: 80px;
    padding-left: 200px;
    background-color: #FAFAFA;
}

.article-images{
    display: flex;
    max-width: 950px;
    width: 100%;
}
.article-date{
    max-width: 132px;
    width: 100%;
    background-color: #15263E;
}

.data-article{
    transform: matrix(0, -1, 1, 0, 0, 0);
    display: inline-block;
    margin-top: 240px;
    font-size: 27px;
    color: #E93656;
}
.article-box-wallpaper{
    max-width: 823px;
    height: 525px;
    }

.articles-mini-para{
    font-size: 14px;
    color: #888;
    margin-top: 30px;
}
.articles-box-title{
    font-size: 40px;
    margin-top: 5px;
    color: #161616;
}
.articles-para{
font-size: 16px ;
color: #888;
max-width:570px ;
width: 100%;
}
/* rosa */
.rosa{
    
    max-width: 1170px;
    width: 100%;
    display: flex;
   
    gap: 80px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 176px;
}
.rosa-title{
    display: inline-block;
    margin: auto;
    font-size: 70px;
    color: #262526;
}
.rosa-wrapper{
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px ;
    max-width: 1170px;
    width: 100%;
    margin: auto;
}
.rosa-box{
    max-width: 230px;
    width: 100%;
    transition: all.3s;
}
.rosa-box.action{
    max-width: 230px;
    width: 100%;
    height: 110px;
    transition: all.3s;

}

.rosa-box-hover{
    display: none;
    transition: all.3s;
}
.rosa-box-close{
    display: flex;
    justify-content: center;
    transition: all.3s;
}

.rosa-box-hover{
    text-align: center;
    cursor: pointer;
    transition: all.3s;
    max-height: 110px;
}
.rosa-box:hover .rosa-box-hover{
    display: block;
    border: 1px solid #E93656;
    padding: 20px;
    border-radius: 5px;

}
.rosa-box:hover .rosa-box-close{
    display: none;
    
}
.rosa-para{
    font-size: 13px;
    color: #626262;
}
.rosa-name{
    font-size: 16px;
    color: #161616;
}
/* conatct us */
.contact{
    width: 100%;
    height: 660px;
    background-image: url(/assets/images/map.jpg);
    margin-top: 150px;
}
.contact-wrapper{
    max-width: 890px;
    width: 100%;
    margin: auto;
    padding-top: 150px;
display: flex;
justify-content: center;

/* align-items:center ; */
flex-direction: column;
}
.contact-titles{
    text-align: center;
}
.contact-title{
    font-size: 45px;
    color: #212121;
}
.contact-lorem{
    font-size: 17px;
    color: #212121;
    padding-top: 15px;
}
.form-boxs{
    margin-top: 45px;
}
.upper-form{
    display: flex;
    gap: 10px;
}

.form-row{
max-width: 290px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
input{
    width: 100%;
    padding: 20px 30px;
    background-color: #2E2E2E;
    color: #DDDDDD;
    border: 1px solid #E93656;
    outline: none;
}
.message-type,.form-row-message{
    height: 110px;
}
.form-row-message{
    margin-top: 10px;
}
.message {
	color: red;
	font-size: 16px;
    height: 10px;
}
.weak {
	border: 2px solid red;
    border-radius: 2px;
}
.normal {
	border: 3px solid yellow;
}
#website,#name{
    margin-top: 18px;
}
.strong {
	border: 3px solid green;
}
.btn{
    display: flex;
    justify-content: center;
}
.button{
    color: #ffffff;
    padding: 16px 45px;
    background-color: #E93656;
    border: 1px solid #E93656;
    margin-top: 20px;
    transition: all.3s;
}
.button:hover{
    cursor: pointer;
    color: #E93656;
    padding: 16px 45px;
    background-color: transparent;
}
.modal{
    display: none;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #DAAE19;
    color: #E93656;
    padding: 20px 30px;
}
.idk{
 opacity: 0;
}
.modal.active{
    display: block;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #DAAE19;
    color: #E93656;
    padding: 20px 30px;
}


@media (width <= 768px){
    .contact-wrapper {
        padding-top: 20px;
    }
    .upper-form{
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form-row-message {
        display: flex;
        justify-content: center;
    }
    .message-type{
        max-width: 90%;
    }
}



/* footer */
footer{
    width: 100%;
    height: 490px;
}
.upper-footer{
    width: 100%;
    height: 450px;
    padding-top: 110px;
    background-color: #282828;
    text-align: center;
}
.footer-title{
    font-size: 55px;
    color: #ffffff;
}
.footer-para{
    max-width: 610px;
    font-size: 17px;
    margin: auto;
    margin-top: 22px;
    color: #A5A5A5;
}
.socials-footer{
display: flex;
gap: 10px;
margin-top: 50px;
justify-content: center;
}
.lowwer-footer{
    height: 80px;
    background-color: #171717;
    display: flex;
    justify-content: center;
}
.lowwer-footer-para{
    margin: auto;
    font-size: 15px;
    color: #A0A8B7;
}